/* Global paddings for different screen sizes. */

body {
    background-color: #f1e5c9;
    font-family: "Neucha", cursive;
    padding: 5% 33% 5% 33%;
}
@media (max-width: 1300px) {
    body {
        padding: 5% 30% 5% 30%;
    }
}
@media (max-width: 1100px) {
    body {
        padding: 5% 15% 5% 15%;
    }
}
@media (max-width: 700px) {
    body {
        padding: 5%;
    }
}

footer {
    margin-top: 100px;
}

p, a, li, time {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 2; 
}

b {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 2;     
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 2; 
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 2; 
}

.dn {
    display: none;
}